/*HTML Tags*/

body {
  background-color: #ECF0F1;
}

h1 {
  font-family: 'Playball', cursive;
  font-size: 7.0rem;
  font-weight: 400;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

h1 a {
  text-decoration: none;
}

ul {
  list-style: disc inside;
}


/*Misc.*/

.arrow-down-white {
  top: -16px;
  left: calc(50% - 14px);
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}

.player-score-arrow-down-white {
  top: -5px;
  left: calc(50% - 14px);
  position: relative;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}


/*Colours*/

.colour-owner {
  color: #466eaa;
}

.colour-superadmin {
  color: #5a82be;
}

.colour-admin {
  color: #6e96d2;
}

.colour-trialadmin {
  color: #82aae6;
}

.colour-monarch {
  color: #5a50d2;
}

.colour-viscount {
  color: #7850d2;
}

.colour-baron {
  color: #9650d2;
}

.colour-knight {
  color: #b450d2;
}

.colour-regular {
  color: #32be5a;
}

.colour-veteran {
  color: #2db450;
}

.colour-devoted {
  color: #28aa46;
}

.colour-addict {
  color: #27a03c;
}

.colour-lifeless {
  color: #1e9632;
}

.colour-member {
  color: #222;
}

.colour-banned {
  color: #ca3e30;
  text-decoration: line-through;
}

.colour-black {
  color: #222;
}

.rank-1st {
  color: #FAD13E;
}

.rank-1st:after {
  content: "st";
  vertical-align: super;
  font-size: small;
  margin-left: 3px;
}

.rank-2nd {
  color: #EBEBEB
}

.rank-2nd:after {
  content: "nd";
  vertical-align: super;
  font-size: small;
  margin-left: 3px;
}

.rank-3rd {
  color: #C98028;
}

.rank-3rd:after {
  content: "nd";
  vertical-align: super;
  font-size: small;
  margin-left: 3px;
}

.rank-nth {
  color: #999;
}

.rank-nth:after {
  content: "th";
  vertical-align: super;
  font-size: small;
  margin-left: 3px;
}

.colour-good {
  color: #27ae60;
}

.colour-full {
  color: #f39c12;
}

.colour-down {
  color: #c0392b;
}


/*Skeleton*/

.container {
  background-color: rgba(0, 0, 0, 0.04);
  height: 100%;
  padding: 0 10px 0 10px;
}


/*Sections*/

#top-bar {
  background-color: #3C4242;
  color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 74px;
}

#top-bar>.container {
  padding: 0;
}

#top-bar a {
  color: #fff;
}

#hero {
  background: url('../img/noise.png');
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  -webkit-box-shadow: inset 0px -6px 21px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -6px 21px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px -6px 21px -6px rgba(0, 0, 0, 0.5);
  min-height: 253px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  z-index: -999;
}

.parallax-mirror {
  z-index: 0 !important;
}

#hero>.container {
  background: none;
}

#main-content {
  -webkit-box-shadow: inset 0px -6px 21px -6px rgba(0, 0, 0, 0.);
  -moz-box-shadow: inset 0px -6px 21px -6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px -6px 21px -6px rgba(0, 0, 0, 0.4);
}

#footer-section {
  background-color: #3C4242;
  color: #ECF0F1;
}

#footer-section ul li {
  text-indent: 10px;
  height: 34px;
  line-height: 34px;
  list-style: none;
  color: #fff;
  text-decoration: none;
  margin-bottom: 15px;
  transition: background-color 0.1s linear;
}

#footer-section ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#footer-section ul a {
  text-decoration: none;
}


/*Logo*/

#logo {
  padding: 10px 0 5px 30px;
}


/*Navbar*/

#navbar {
  font-weight: 600;
}

#navbar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#navbar ul li {
  display: block;
  float: left;
  width: 25%;
  height: 74px;
  text-align: center;
  border-color: #2980b9;
  box-sizing: border-box;
  transition: border 0.2s linear, background-color 0.2s linear;
}

#navbar ul li:hover {
  background: #282d2d;
  border-bottom: 2px solid #2980b9;
}

#navbar ul li:last-child:hover #nav-user-img {
  background: #2980b9;
}

#navbar li ul {
  display: none;
}

#navbar ul li a {
  display: block;
  height: 74px;
  line-height: 74px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

#navbar li:hover ul {
  display: block;
  position: relative;
  z-index: 9999;
}

#navbar li:hover li {
  float: none;
  margin: 0;
}

#main-menu li ul li {
  border-top: 0px;
  width: inherit;
  background-color: #282d2d;
}

#main-menu li ul li:hover {
  background-color: #222;
  border-bottom: none;
}

#main-menu li ul li:last-child:hover {
  border-bottom: 2px solid #2980b9;
  border-left: none;
  border-right: none;
}


/*Style 'show menu' label button and hide it by default*/

.show-menu {
  text-align: center;
  display: none;
  cursor: pointer;
}


/*Hide checkbox*/

input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
}


/*Show menu when invisible checkbox is checked*/

input[type=checkbox]:checked ~ #main-menu {
  display: block;
}


/*Leaderboards*/

.user-rank-box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#user-rank {
  line-height: 100px;
  text-align: center;
}

#user-score {
  padding: 30px;
  padding-top: 15px;
  font-size: 32px;
  color: #fff;
  background-color: #3C4242;
  text-align: center;
  -webkit-box-shadow: inset 0px 12px 25px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 12px 25px -13px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 12px 25px -13px rgba(0, 0, 0, 0.5);
}

.player-rank-box {
  padding: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#player-rank h4 {
  line-height: 75px;
  text-align: center;
}

#player-score {
  padding-bottom: 10px;
  font-size: 21px;
  color: #fff;
  background-color: #3C4242;
  text-align: center;
  -webkit-box-shadow: inset 0px 12px 25px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 12px 25px -13px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 12px 25px -13px rgba(0, 0, 0, 0.5);
}

#player-score span {
  font-size: 18px;
}

#announcements-section img {
  max-width: 100%;
}


/* donations */

.server-title {
  background: #3a3f3f;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #2f3434;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.monarch-title {
  background: #5a50d2;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #3C32B4;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.viscount-title {
  background: #7850d2;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #5A32B4;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.baron-title {
  background: #9650d2;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #7832B4;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.knight-title {
  background: #b450d2;
  text-align: center;
  color: #fff;
  border-bottom: 3px solid #9632B4;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.donate-option-content {
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #F7F7F7;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
}

.best-value {
  background: #dff0d8;
  border-left: 1px solid #C1D2BA;
  border-right: 1px solid #C1D2BA;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
}

.middle-value {
  background: #fcf8e3;
  border-left: 1px solid #E8E4CF;
  border-right: 1px solid #E8E4CF;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
}

.worst-value {
  background: #f2dede;
  border-left: 1px solid #DECACA;
  border-right: 1px solid #DECACA;
  padding: 10px;
  text-align: center;
  vertical-align: bottom;
}

.donation-bar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.3);
  height: 42px;
  font-weight: bold;
}

.donation-bar-inner {
  position: relative;
  height: 100%;
  background: #2ecc71;
  border-bottom: 3px solid #27ae60;
  box-sizing: border-box;
}

.donation-bar-text {
  position: relative;
  top: -34px;
}

.bob-button, .token-button {
  border: 1px solid #D1D1D1;
  border-right: none;
  border-left: none;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  box-sizing: border-box;
  background: #f1f0f0;
}

.buy-button {
  background: #3498db;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bob-amount input, .token-amount input {
  border-radius: 0;
  margin-bottom: 0;
}

.token-purchase {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #D1D1D1;
  border-right: none;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  box-sizing: border-box;
  background: #f1f0f0;
}


/*Repeated Content*/
.player-list{
  max-height: 300px;
  overflow: auto;
}

/*Server Status Bars etc*/

.status-bar {
  height: 24px;
  /* Can be anything */
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.status-bar > span {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.full-bar > span {
  background-color: #f1c40f;
  border-bottom: 2px solid #f39c12;
}

.good-bar > span {
  background-color: #2ecc71;
  border-bottom: 2px solid #27ae60;
}

.down-bar > span {
  background-color: #e74c3c;
  border-bottom: 2px solid #c0392b;
}

.loading-bar > span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient( -45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.loading-bar > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .4)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .4)), color-stop(.75, rgba(255, 255, 255, .4)), color-stop(.75, transparent), to(transparent));
  background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.status-bar-text {
  position: relative;
  top: -24px;
  height: 24px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.server {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  transition: background-color 0.1s linear;
}

.server:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.server:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.server-box {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.server-status-good {
  min-width: 50px;
  padding: 0 5px 0 5px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #2ecc71;
  float: right;
  margin-right: 10px;
  margin-top: 1px;
  text-align: center;
  line-height: 22px;
  font-weight: 600;
}

.server-status-full {
  min-width: 50px;
  padding: 0 5px 0 5px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #f2ca27;
  float: right;
  margin-right: 10px;
  margin-top: 1px;
  text-align: center;
  line-height: 22px;
  font-weight: 600;
}

.server-status-down {
  min-width: 50px;
  padding: 0 5px 0 5px;
  height: 22px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #e74c3c;
  float: right;
  margin-right: 10px;
  margin-top: 1px;
  text-align: center;
  line-height: 22px;
  font-weight: 600;
}

.content-box {
  background-color: #F7F7F7;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

.alert-success {
  background-color: rgba(236, 251, 243, 1.0);
  padding: 10px;
  border-top: 1px solid rgba(98, 176, 137, 0.2980392156862745);
  border-right: 1px solid rgba(98, 176, 137, 0.2980392156862745);
  border-left: 1px solid rgba(98, 176, 137, 0.2980392156862745);
  border-bottom: 2px solid rgba(98, 176, 137, 0.2980392156862745);
  border-radius: 3px;
}

.alert-error {
  background-color: rgba(255, 232, 232, 1.0);
  padding: 10px;
  border-top: 1px solid rgba(255, 19, 19, 0.2980392156862745);
  border-right: 1px solid rgba(255, 19, 19, 0.2980392156862745);
  border-left: 1px solid rgba(255, 19, 19, 0.2980392156862745);
  border-bottom: 2px solid rgba(255, 19, 19, 0.2980392156862745);
  border-radius: 3px;
}
.alert-success p{
  margin-bottom: 3px;
}
.alert-error p{
  margin-bottom: 3px;
}

.profile-img {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 2px;
  box-sizing: border-box;
}

.sub-text-light {
  color: rgba(255, 255, 255, 0.3);
  font-style: italic;
}

.sub-text-dark {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
}

.loading-player {
  font-weight: bold;
  display: block;
  margin-top: 6px;
  margin-bottom: 6px;
}


/*Utilities*/

.clear {
  clear: both;
}

#rank-type-list:disabled {
  opacity: 0.5;
}

#rank-type-list:after:disabled {
  content: "hello!"
}


/*buttons*/

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  background-color: rgba(52, 152, 219, 1.0);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(41, 128, 185, 1.0);
  -moz-box-shadow: 0px 4px 0px 0px rgba(41, 128, 185, 1.0);
  box-shadow: 0px 4px 0px 0px rgba(41, 128, 185, 1.0);
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  background-color: rgba(52, 152, 219, 1.0);
}

.button.button-primary:active, button.button-primary:active, input[type="submit"].button-primary:active, input[type="reset"].button-primary:active, input[type="button"].button-primary:active {
  background-color: rgba(52, 152, 219, 1.0);
  -webkit-box-shadow: inset 0px 4px 0px 0px rgba(41, 128, 185, 1.0);
  -moz-box-shadow: inset 0px 4px 0px 0px rgba(41, 128, 185, 1.0);
  box-shadow: inset 0px 4px 0px 0px rgba(41, 128, 185, 1.0);
}

.vertical-align-middle {
  vertical-align: middle;
}

.auto-overflow {
  overflow: auto;
}

.center-text {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.responsive-img {
  max-width: 100%;
}

#server-button-row {
  margin-top: 30px;
}

.server-button {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.1s linear;
  padding: 5px 0 5px 0;
  border-radius: 3px;
  display: inline-block;
}

.server-button a {
  box-sizing: border-box;
  display: block;
  color: #fff;
}

.server-button img {
  vertical-align: middle;
}

.server-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
}


/*Custom BBCode*/

.bbcode-quote {
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 0 5px 0 5px;
}


/*Margins*/

.no-margin {
  margin: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-20-top {
  margin-top: 20px;
}

.margin-20-bottom {
  margin-bottom: 20px;
}

.margin-10-top{
  margin-top: 10px;
}

.margin-5-bottom {
  margin-bottom: 5px;
}

.margin-5-top {
  margin-top: 5px;
}


/*Padding*/

.no-padding {
  padding: 0;
}

.padding-10-top {
  padding-top: 10px;
}

.padding-20-top {
  padding-top: 20px;
}

.padding-5-top {
  padding-top: 5px;
}
.padding-4{
  padding: 4px;
}


/*Widths*/

.width-80pc {
  width: 80%;
}

.width-70pc {
  width: 70%;
}

.width-60pc {
  width: 60%;
}

.width-50pc {
  width: 50%;
}

.width-40pc {
  width: 40%;
}

.width-35pc{
  width: 35%;
}

.width-30pc {
  width: 30%;
}

.width-20pc {
  width: 20%;
}

.width-25pc {
  width: 25%;
}

.width-15pc {
  width: 15%;
}

.width-10pc {
  width: 10%;
}


/*Misc*/

#nav-user-img {
  position: relative;
  top: 14px;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 2px;
  box-sizing: border-box;
  transition: background 0.2s linear;
}


/*Modals*/

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > .modal-inner {
  width: 75%;
  max-width: 700px;
  position: relative;
  margin: 2% auto;
  background-color: #F7F7F7;
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

.close {
  background: #3498db;
  color: #2980b9;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

.close:hover {
  background: #2980b9;
  color: #3498db;
}

.modal-scroll {
  max-height: 400px;
  overflow: auto;
}

.modal-footer{
  background: #EEEEEE;
}


/*Media Queries*/


/* 750px is grid breakpoint */

@media screen and (max-width: 750px) {
  .hide-on-break {
    display: none;
  }
  /*Logo*/
  #logo {
    text-align: center;
    padding: 10px 0 0 0;
  }
  .server-button {
    margin-bottom: 30px;
  }
  /*  --Main Navigation-- */
  /*Make dropdown links appear inline*/
  #navbar ul {
    position: static;
    display: none;
  }
  /*Create vertical spacing*/
  #navbar li {
    height: 35px;
    margin-top: 7px;
    margin-bottom: 3px;
  }
  /*Make all menu links full width*/
  #navbar ul li, li a {
    width: 100%;
    line-height: 35px;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display: block;
  }
  #top-bar {
    height: auto;
  }
}